/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f1f1;
}

/* HEADER */
header {
    background: #000000ad;
    color: white;
}

/* TOPO */
.topo-principal {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

/* LOGO */
.topo-principal img {
    width: 100px;
}

/* TÍTULO + BUSCA */
.titulo-busca {
    margin-left: 80px;
}

.topo-principal h1 {
    font-size: 32px;
    white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topo-principal input {
    padding: 6px;
    width: 350px;
    margin-top: 10px;
}

/* MENU LATERAL */
.menu-lateral-e {
    position: sticky;
    top: 0;
    width: 200px;
    height: 1360px;
    background: #111;
    padding: 15px 10px;
}

.menu-lateral-e ul {
    list-style: none;
}

.menu-lateral-e li {
    margin-bottom: 10px;
    border: 1px solid bisque;
    padding: 10px; /* CORRIGIDO (antes 60px quebrava tudo) */
}

.menu-lateral-e a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
}

/* MAIN */
.conteudoprincipal {
    flex: 1;
    padding: 30px;
}

/* PARTIDAS */
.partidas h2 {
    margin-bottom: 10px;
    font-family: Verdana;
    color: rgb(238, 189, 56);
}

.todos-os-cards {
    display: flex;
    gap: 20px;
}

.todos-os-cards article {
    width: 238px;
}

.todos-os-cards img {
    width: 100%;
    border-radius: 5px;
    border: 3px rgba(250, 216, 123, 0.555) solid;
}

.todos-os-cards h3 {
    color: #000000c7;
    padding: 5px;
}

.todos-os-cards p {
    color: gray;
    padding: 5px;
}

/* NOTÍCIAS */
.noticias {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 12px;
    
}

.noticias h2 {
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-family: Verdana;
    color: rgb(238, 189, 56);
}

.noticias {
    display:grid;
    grid-template-columns: 236px 236px 118px;
    gap: 10px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.noticias img{
    width: 100%;
    border-radius: 5px;
    border: 3px rgba(250, 216, 123, 0.555) solid
}

/* VÍDEOS */
.videos {
    margin-top: 25px;
}

.videos h2{
     margin-bottom: 10px;
    font-family: Verdana;
    color: rgb(238, 189, 56);
}

.todos-os-cards-video {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.todos-os-cards-video article {
    width: 235px;
}

.todos-os-cards-video img {
    width: 100%;
}

.todos-os-cards-video h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

/* LATERAL DIREITA */
.lateral-direita {
    width: 300px;
    height: 1000;
    background: rgba(185, 132, 26, 0.952);
    padding: 15px;
    
}

.tags {
    border-radius: 3px;
    border: dashed white 2px;
    padding-bottom: 200px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.lateral-direita section {
    margin-bottom: 15px;
}

.lateral-direita img {
    width: 100%;
    padding: 40px 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.Newsletter {
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 3px;
    border: white solid 3px;
}

.Newsletter h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
}

.Newsletter p{
    padding-top: 12px;
    padding-bottom: 50px;
    text-align: justify;
    padding: 10px;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

/* FORM */
form input {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
}

form button {
    width: 100%;
    padding: 6px;
    background: #000;
    color: white;
    border: none;
}

/* PATROCINADORES */
.patrocinadores {
    background: #eee;
    padding: 15px;
    margin-top: 20px;
}

.patrocinadores h2 {
    text-align: center;
    margin-bottom: 10px;
}

.patrocinadoresinferior {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.patrocinadoresinferior img {
    width: 125px;
    height: 74px;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}